//COLORS
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #806543;
$color-brown: #D8B487;
$color-secondary: #33266E;
$color-purple: #665D90;
$color-grey-1: #A7A5B0;
//HEIGHTS
$header-desktop-height: 110px;