body {
    // font-family: $pn-font-anglecia-regular;
    // background: $color-bg;
    direction: $direction;
    text-align: $start-direction;
    font-size: 14px;
    position: relative;
    z-index: 10;
}

button,
a {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

a:hover {
    text-decoration: none;
}

.has-active-icon {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    &.fav-icon {
        background-image: url(../images/icons/fav-icon.svg);
        background-size: 48px 25px;
        background-position: left;
        background-repeat: no-repeat;
        &.active {
            background-position: right;
        }
    }
    &.card-fav-icon {
        background-image: url(../images/icons/card-fav-icon.svg);
        background-size: 48px 25px;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 9;
        &.active {
            background-position: right;
        }
    }
    &.cart-icon {
        background-image: url(../images/icons/cart-icon.svg);
        background-size: 48px 25px;
        background-position: left;
        &.active {
            background-position: right;
        }
    }
}