.radio.radio-style-1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    &:after {
        font-family: 'FontAwesome';
        display: inline-block;
        text-align: center;
        font-size: 30px;
        content: attr(value);
        padding: 8px 20px;
        border-radius: 15px;
        color: $color-grey-12;
        transition: box-shadow 1s, color 1s;
        background: $color-grey-9;
    }
    &:checked {
        &:after {
            box-shadow: 2px 2px 14px rgba(0, 0, 0, .4);
            color: $color-purple;
        }
    }
}