.btn-style-1 {
    background: $color-purple;
    color: $color-white;
    @include transition(all .2s ease-in-out);
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    &:hover {
        background: $color-black;
        color: $color-white;
    }
}